@import url('http://fonts.googleapis.com/css?family=Montserrat|Playfair+Display:700');

body {
	height: 100vh;
  	width:98vw;
	}

.navigation {
	ul {
		li {
			list-style: none;
			display: inline;
				a{
				text-decoration: none;
				} 
		} 
} 
} 

.credits {
	ul {
		li {
			list-style: none;
			display: inline;
				a{
				text-decoration: none;
				} 
		} 
}
}