// Susy setups ---------------

$susy: (
	gutter-position: after,
	container: auto,
	container-position: center,
	columns: 8,
	gutters: .10,
	column-width: false,
	);

@include border-box-sizing;

$small:30em;
$medium:47em;
$large:75em;

// Header ---------------------

.nav {
	width: 100vw;
	height: auto;
	position: fixed;
	background-color: rgba($black,.7);
	}
		
.branding {

	img {
		width: 95vw;
		@include susy-breakpoint($medium) {
		@include span(4 of 8); 
		margin-left:  span(2 wide of 8);
	}
	}
}

.navlist {	
		@include susy-breakpoint($medium) { 
			text-align: center;
			padding-top: 0.5vh;
			@include span(4 of 8);
			margin-left:  span(2 wide of 8);
		}
		li {
		display: inline;
		i {
		color: lighten($purple, 30);
		padding-right: 0.5vw;
		}
		a{
		text-decoration: none;
		padding: 0.5vh 0.5vw;	
		color: $blue;
			&:hover {
			background-color: rgba($blue,.7);
			color: lighten($grayLi, 15);
			}
		}		
		}
}



// Layout ---------------------
.sampleslist {
	padding-top: 8vh;
}

.layout {
	margin-left: 2vw;
	margin-right: 2vw;
}

.resume {
	margin-left: 2vw;
	margin-right: 2vw;
	@include clearfix;


.primary {
	@include susy-breakpoint($medium) {
		@include span(6 of 8);
	}
			
}
.secondary {
	@include susy-breakpoint($medium) { 
			@include span(2 omega of 8);
		}			
	}

}

// Footer ------------------------------

.credits {
	
	background-color: rgba($blue,.1);
	margin-top: 2vh;
	padding-top: 2vh;
	padding-bottom: 20vh;
	text-align: center;

	ul {
		@include span(6 of 8); 
 	 	margin-left: span(1 wide of 8);
		li {
			list-style: none;
			display: inline;
		a{
			text-decoration: none;
		} 
		} 
}
}
.copy {font-size: 0.75em; font-weight: bold;}

// -----------------------------------------------