@import "_colors.scss";

.navigation {
	a{
	color: $blue;
		&:hover {
		background-color: $blue;
		color: $white;
		} /* hover */
	} /* a */ 
} /* navigation */

.credits {
	background-color: $grayLi;
}