/* Android colors */
$blueLi: 	#3bf;
$blue: 		#09c;

$purpleLi:	#a6c;
$purple: 	#93c;

$greenLi: 	#9c0;
$green: 	#690;

$yellowLi:	#fb3;
$yellow:	#f80;

$redLi:		#f44;
$red:		#c00;

$black:		#000;
$grayDk:	#334;
$gray:		#778;
$grayLi:	#ccd;
$white:		#fff;

/* ------------- */



$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Playfair Display', serif;